body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #a4b1aa;
}

.entrada{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.entrada input{
    padding: 20px;
    margin: 15px;
    border-radius: 35px;
    color: #072916;
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 20px;
    width: 290px;
    border: solid #ffffff 2px ;
}
.entrada button{
    padding: 20px;
    border-radius: 35px;
    background-color: #53f99e;
    border: solid #53f99e;
    font-family: 'Courier New', 'Courier', monospace;
    font-weight: bold;
    font-size: 25px;
}
.entrada button:hover{
    padding: 20px;
    border-radius: 35px;
    background-color: #206b42;
    border: solid #206b42;
    font-family: 'Courier New', 'Courier', monospace;
    font-weight: bold;
    font-size: 25px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 35%;
}

.galeria img{
    width: 300px;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #9d41ab;
    border-right: solid #3c0345 5px;
    border-bottom: solid #3c0345 5px;
    border-radius: 20px;
}
.pokemon-card h2{
    color: #ffffff;
    font-size: 35px;
    font-family: 'Courier New', 'Courier', monospace;
    font-style: bolder;
    background-color: #8a029f;
    padding: 5px 25px;
    border-radius: 25px;
}

.pokemon-info{
    padding: 15px;
}
.pokemon-info p{
    background-color: #ce6edd;
    border-radius: 10px;
    padding: 0 10px;
    font-family: 'Courier New', 'Courier', monospace;
}

.erro{
    color: #fa0000;
    font-size: 45px;
    font-family: 'Courier New', 'Courier', monospace;
    font-weight: bold;
}